body {
    text-align: center;
    background-color: #283149;
    color: white;
  }
  
  #countlabel{
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .btn{
    padding: 10px 20px;
    background-color: rgb(154, 55, 12);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.25;
    cursor: pointer;
  }
  
  .btn:hover{
    background-color: rgba(198, 10, 142, 0.726);
    color: #000;
  
  }
  
  p {
    font-size: 3rem;
    color: #DBEDF3;
    font-family: "Arvo";
  }
